div {
    text-align: center;
}

.player-container {
    display: flex;
    margin : 10px;
}

.player-list {
    width       : 70%;
    margin      : 10px;
    border-right: 1px solid gray;
}

.heading{
    height: 100px;
    background: lightgray;
    padding-top: 20px;
    margin-right: 10px ;
    border-radius: 10px;
}