.person {
    width           : 300px;
    height          : 300px;
    border          : 2px solid gray;
    background-color: whitesmoke;
    padding         : 10px;
    margin          : 10px;
    float           : left;
    border-radius   : 10px;
}

img {
    width: 30%;
}